{% extends 'ex09/base.html' %}
{% block title %}<title>Display</title>{% endblock title %}
{% block style %}
<style>
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
  }
</style>
{% endblock style %}
{% block content %}
{% if datas %}
<table>
  <tbody>
    <tr align="left" bgcolor="#faebd7">
       <th>name</th>
      <th>homeworld</th>
      <th>climate</th>
    </tr>
    {% for data in datas %}
    <tr>
      <td>{{ data.name }}</td>
      <td>{{ data.homeworld__name }}</td>
      <td>{{ data.homeworld__climate }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
    If no data available, please use the following command line before use:<br>
    python3 manage.py loaddata ex09/data/ex09_initial_data.json
{% endif %}
{% endblock content%}