{% extends 'ex03/base.html' %}
{% block title %}<title>Ex03: Fifty shades of bic.</title>{% endblock %}
{% block style %}
<style>
  td, th {
    width: 80px;
    height: 50px;
}
</style>
{% endblock style %}
{% block content %}
<h1>Fifty shades of bic.</h1>
    <div>
      <table>
        <tr>
          <th>black</th>
          <th>red</th>
          <th>green</th>
          <th>blue</th>
        </tr>
        {% for i in range %}
        <tr>
          <td style="background-color: #{{i}}{{i}}{{i}}"></td>
          <td style="background-color: #{{i}}0000"></td>
          <td style="background-color: #00{{i}}00"></td>
          <td style="background-color: #0000{{i}}"></td>
        </tr>
        {% endfor %}
      </table>
    </div>
{% endblock content%}