{% extends 'ex01/base.html' %}
{% load static %}

{% block title %}<title>Ex01: Display process of a static page.</title>{% endblock %}


{% block content %}
<h1>Статический сайт</h1>
</p><p>Обычно статический <a href="#" title="Сайт">веб-сайт</a> представляет собой набор файлов <a href="#" title="HTML">HTML</a>, размещенных на <a href="#" title="Веб-сервер">веб-сервере</a>.
</p>

<h2><span id=".D0.94.D0.BE.D1.81.D1.82.D0.BE.D0.B8.D0.BD.D1.81.D1.82.D0.B2.D0.B0_.D0.B8_.D0.BD.D0.B5.D0.B4.D0.BE.D1.81.D1.82.D0.B0.D1.82.D0.BA.D0.B8"></span><span class="mw-headline" id="Достоинства_и_недостатки">Достоинства и недостатки</span></h2>
<h3><span id=".D0.94.D0.BE.D1.81.D1.82.D0.BE.D0.B8.D0.BD.D1.81.D1.82.D0.B2.D0.B0"></span><span class="mw-headline" id="Достоинства">Достоинства</span><span class="mw-editsection">
</span></h3>
<ul><li>Для создания страницы не обязательно знать языки <a href="#" title="Веб-программирование">веб-программирования</a>.</li>
<li>Хорошая кэшируемость страницы.</li>
<li>Быстрая скорость загрузки страниц.</li>
<li>Минимальные требования к веб-серверу и минимальная нагрузка на него.</li>
<li>Простота переноса на другой сервер или локальный компьютер.</li>
<li>Возможность прямого просмотра файла в браузере, без использования промежуточного ПО (<a href="#" title="Веб-сервер">веб сервера</a>, <a href="/wiki/CGI" title="CGI">CGI</a>).</li></ul>
<h3><span id=".D0.9D.D0.B5.D0.B4.D0.BE.D1.81.D1.82.D0.B0.D1.82.D0.BA.D0.B8"></span><span class="mw-headline" id="Недостатки">Недостатки</span></h3>
<ul><li>Невозможность динамической генерации содержимого.</li>
<li>Невозможность полноценной поддержки посетителей (выбор внешнего вида, <a href="#" title="Cookie">cookie</a>).</li>
<li>Для наполнения сайта информацией необходимо получать доступ к файлам-страницам посредством <a href="/wiki/FTP" title="FTP">FTP</a>, или сторонним <a href="#" class="new" title="Веб-скрипт (страница отсутствует)">веб-скриптам</a>, позволяющим редактировать страницы.</li>
<li>При большом количестве страниц (файлов), если возникает необходимость внести однотипные изменения (дизайн, оформление, добавление новых разделов) необходимо использовать стороннее ПО (<a href="#" title="Утилита">утилиты</a>).</li></ul>
<h2><span id=".D0.A1.D0.BE.D0.B2.D1.80.D0.B5.D0.BC.D0.B5.D0.BD.D0.BD.D0.BE.D0.B5_.D0.B8.D1.81.D0.BF.D0.BE.D0.BB.D1.8C.D0.B7.D0.BE.D0.B2.D0.B0.D0.BD.D0.B8.D0.B5"></span><span class="mw-headline" id="Современное_использование">Современное использование</span></h2>
<ul><li><a href="#" title="Сайт-визитка">Сайт-визитка</a>&#160;— содержит самые общие данные о владельце сайта (организация или индивидуальный предприниматель). Вид деятельности, история, прайс-лист, контактные данные, реквизиты, схема проезда. Специалисты размещают своё резюме. То есть подробная визитная карточка.</li>
<li>Каталог продукции&#160;— в каталоге присутствует подробное описание товаров/услуг, сертификаты, технические и потребительские данные, отзывы экспертов и&#160;т.&#160;д. На таких сайтах размещается информация о товарах/услугах, которую невозможно поместить в прайс-лист, т.к. сайт должен обновлять  данные каталога магазина. Однако с различными <a href="#" title="API">API</a> для связывания с серверными приложениями (например, кнопкой корзины и оплаты для товаров, и т.д.) такое возможно.</li>
<li>Домашние страницы пользователей.</li></ul>
<p>Также статические страницы часто используются как шаблоны динамических сайтов.
</p>

{% endblock content%}