{% extends 'ex01/base.html' %}
{% load static %}
{% block title %}<title>Ex01: Template engine.</title>{% endblock %}
        {% block style %}
        <link  rel="stylesheet" href={% static "ex01/style2.css" %}></link>
        {% endblock style %}

{% block content %}
<div class="section" id="s-module-django.template">
<span id="s-templates"></span><span id="module-django.template"></span><span id="templates"></span><h1>Шаблоны<a class="headerlink" href="#" title="Ссылка на этот заголовок"></a></h1>
<p>Django - это веб-фреймворк, поэтому ему нужен удобный способ динамической генерации HTML. Самый распространенный подход основан на шаблонах. Шаблон содержит статические части желаемого вывода HTML, а также некоторый специальный синтаксис, описывающий, как будет вставлен динамический контент. Практический пример создания HTML-страниц с помощью шаблонов смотрите в <a class="reference internal" href="#"><span class="doc">Учебник, часть 3</span></a>.</p>
<p>Проект Django можно настроить с одним или несколькими шаблонизаторами (или даже с нулем, если вы не используете шаблоны). Django предоставляет встроенные серверные модули для собственной системы шаблонов, творчески названной языком шаблонов Django (DTL), и для популярной альтернативы <a class="reference external" href="#">Jinja2</a>. Серверные программы для других языков шаблонов могут быть доступны у третьих лиц. Вы также можете написать свой собственный бэкэнд, смотрите <a class="reference internal" href="../../howto/custom-template-backend/"><span class="doc">Пользовательский бэкэнд</span></a></p>
<p>Django определяет стандартный API для загрузки и рендеринга шаблонов независимо от серверной части. Загрузка состоит из поиска шаблона для данного идентификатора и его предварительной обработки, обычно компилируя его в представление в памяти. Рендеринг означает интерполяцию шаблона с помощью контекстных данных и возврат результирующей строки.</p>
<p><a class="reference internal" href=""><span class="doc">Язык шаблонов Django</span></a> - это собственная система шаблонов Django. До Django 1.8 это была единственная доступная встроенная опция. Это хорошая библиотека шаблонов, даже несмотря на то, что она довольно самоуверенная и имеет несколько особенностей. Если у вас нет веских причин для выбора другой серверной части, вам следует использовать DTL, особенно если вы пишете подключаемое приложение и собираетесь распространять шаблоны. Приложения contrib Django, которые включают шаблоны, например <a class="reference internal" href="../../ref/contrib/admin/"><span class="doc">django.contrib.admin</span></a>, используют DTL.</p>
<p>По историческим причинам как общая поддержка шаблонов, так и реализация языка шаблонов Django находятся в пространстве имен <code class="docutils literal notranslate"><span class="pre">django.template</span></code>.</p>
<div class="admonition warning">
<p class="first admonition-title">Предупреждение</p>
<p class="last">Система шаблонов небезопасна от ненадежных авторов шаблонов. Например, сайт не должен позволять своим пользователям предоставлять свои собственные шаблоны, поскольку авторы шаблонов могут выполнять такие действия, как выполнение XSS-атак и доступ к свойствам переменных шаблона, которые могут содержать конфиденциальную информацию.</p>
</div>
<br>
{% endblock content%}